{% extends 'lirez/layout.html' %}

{%block title%}Lirez - Courses{%endblock%}
{%block body%}
<h1>hello world</h1>
    <div class="container cards">
        <!-- <div class="card">
             <img src="https://edx-cdn.org/v3/prod/logo.svg" alt="course">
            
             <div class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nisi molestias mollitia ut corrupti incidunt, nobis eligendi sed minima ratione nam, nulla, necessitatibus maiores nemo id blanditiis dolores eaque omnis.
             </div>
        </div>


        <div class="card">
            <img src="https://edx-cdn.org/v3/prod/logo.svg" alt="course">
           
            <div class="content">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nisi molestias mollitia ut corrupti incidunt, nobis eligendi sed minima ratione nam, nulla, necessitatibus maiores nemo id blanditiis dolores eaque omnis.
            </div>
       </div>


       <div class="card">
             <img src="https://edx-cdn.org/v3/prod/logo.svg" alt="course">
       
            <div class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nisi molestias mollitia ut corrupti incidunt, nobis eligendi sed minima ratione nam, nulla, necessitatibus maiores nemo id blanditiis dolores eaque omnis.
            </div>
        </div>

        <div class="card">
            <img src="https://edx-cdn.org/v3/prod/logo.svg" alt="course">
      
           <div class="content">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nisi molestias mollitia ut corrupti incidunt, nobis eligendi sed minima ratione nam, nulla, necessitatibus maiores nemo id blanditiis dolores eaque omnis.
           </div>
       </div>

       <div class="card">
        <img src="https://edx-cdn.org/v3/prod/logo.svg" alt="course">
  
       <div class="content">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nisi molestias mollitia ut corrupti incidunt, nobis eligendi sed minima ratione nam, nulla, necessitatibus maiores nemo id blanditiis dolores eaque omnis.
       </div>
   </div>

   <div class="card">
    <img src="https://edx-cdn.org/v3/prod/logo.svg" alt="course">

   <div class="content">
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nisi molestias mollitia ut corrupti incidunt, nobis eligendi sed minima ratione nam, nulla, necessitatibus maiores nemo id blanditiis dolores eaque omnis.
   </div>
     </div> -->

    </div>
{%endblock%}