{% extends 'learning/layout.html' %}
{%block title%}Lirez - Courses{%endblock%}
{%block body%}
<div class="container cards">
    {%for course in courses%}
        <!-- <div class="card">
            <strong>{{course.title}}</strong><br>
            <img src="{{ course.image.url }}" alt="Course Image">
            <div class="content">
            {{course.description}}
            </div>
            <form method="POST" action="{% url 'toggle_dashboard' course.id %}">
                {% csrf_token %}
                <button type="submit" class="btn">
                    {% if user in course.users.all %}
                        Remove from Dashboard
                    {% else %}
                        Add to Dashboard
                    {% endif %}
                </button>
            </form>
            
            <a href="" class="header__link a-card">
                See More
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                </svg>                    
            </a>
            <p>{{course.teacher}}</p>
        </div> -->
        <div class="card">
            <img src="{{ course.image.url }}" alt="Course Image">
           
            <div class="content">
                <strong>{{course.title}}</strong>
                <p>{{course.description}}</p>
            
            </div>
            <a href="" class="header__link a-card">
            
               See More
               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                   <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                 </svg>
           </a>
           <p>ESM yaro</p>  
        </div>
    {%empty%}
    <h1>Hello!</h1>
    {%endfor%}
</div>
{%endblock%}