{%extends 'learning/layout.html'%}
{%block title%}Create Course{%endblock%}
{%block body%}

<form method="post" action="{%url 'create'%}" enctype="multipart/form-data" class="register-container">
    {% csrf_token %}
    <div class="form form__group">
        <h1>Create Course</h1>
        <div class="form__group">
            <label for="title">Course Title:</label>
            <input type="text" id="title" name="title" placeholder="Enter your title" required maxlength="100">
        </div>
        <div class="form__group">
            <label for="description">Course Description:</label>
            <textarea id="description" name="description" placeholder="Enter your description" required maxlength="300"></textarea>
        </div>
        <div class="form__group">
            <label for="image">Course Image:</label>
            <input type="file" id="image" name="image" accept=".jpg, .jpeg, .png" required>
        </div>
        <div class="form__group">
            <button type="submit" class="btn form__submit">Submit</button>
        </div>
    </div>
</form>

{%endblock%}
<img src="{{ course.image.url }}" alt="Course Image">