{% extends 'learning/layout.html' %}
{%block title%}Lirez - Home{%endblock%}
{%block body%}
<div class="container h-card">

       <div class="h-content">
             <strong>Empower Your Mind with Lirez</strong>
             <br>
             <br>
             <p>Welcome to Lirez, a platform designed with the sole purpose of making learning accessible and enjoyable for everyone. This website is a testament to the power of modern technology in education, offering a wide range of courses that cater to different learning styles and preferences.</p>
              <div>
                <a href="{% url 'login' %}" class="btn">Login</a>
                <a href="{% url 'register' %}" class="btn">Register</a>
            </div>
         </div>

 </div>
 
 <br>
 <br>
 <br>

<strong class="pc">Popular Courses</strong>

<div class="container cards">
    {% for course in popular_courses %}
        <div class="card">
            <img src="{{ course.image.url }}" alt="Course Image">
            <div class="content">
                <h2>{{ course.title }}</h2>
                <p>{{ course.description }}</p>
                <p>Teacher: {{ course.teacher }}</p>
            </div>
            <a href="" class="header__link a-card">
                See More
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                </svg>                    
            </a>
            <div class="likes">      
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="like" style="width: 20px;" >
                    <path d="M7.493 18.75c-.425 0-.82-.236-.975-.632A7.48 7.48 0 016 15.375c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75 2.25 2.25 0 012.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282 .725 1.282h3.126c1.026 0 1.945 .694 2.054 1 .715 .045 .422 .068 .85 .068a11 .95 .95 0 01-2 .649 .7 .521 .388 .482 -.987 .729 -1 .605H14 .23c-.483 .964 -.078 -1 .423 -.23l-3 .114 -1 .04a4 .501 .501 -.23h-.777zM2 .33110 .977a11 .96911 -.96900 -.8314 .39812 -.52 .507c26 ..85 ..084 ..368 ..973H4 ..9c44 ..72 -.498 ..523 -.898a8 ..9638 -.96300 -92 -3 ..977c01 -708 ..476 -33 ..05 ..302 -4 ..666c24 -.403 -.028 -.959 -.5H4 ..25c83 -161 ..453 -1918 ..227z"/>
                </svg>
                <label for="like">Chosen by {{ course.users.count }} learner(s)</label>
            </div>
        </div>
    {% empty %}
        <h1>No courses available.</h1>
    {% endfor %}
</div>

 {% comment %} <div class="container cards">
    
    <div class="card">
        <img src="https://edx-cdn.org/v3/prod/logo.svg" alt="course">
       
        <div class="content">
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nisi molestias mollitia ut corrupti incidunt, nobis eligendi sed minima ratione nam, nulla, necessitatibus maiores nemo id blanditiis dolores eaque omnis.</p>
        </div>
        <a href="" class="header__link a-card">
        
           See More
           <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
               <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
             </svg>
             
             
            
        
       </a>
        <div class="likes">      
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="like" style="width: 20px;" >
            <path d="M7.493 18.75c-.425 0-.82-.236-.975-.632A7.48 7.48 0 016 15.375c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75 2.25 2.25 0 012.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23h-.777zM2.331 10.977a11.969 11.969 0 00-.831 4.398 12 12 0 00.52 3.507c.26.85 1.084 1.368 1.973 1.368H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 01-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227z" />
          </svg>
          <label for="like">85%</label>
        </div>
 

     </div> {% endcomment %}

   <!-- ------------ -->


   

 </div>

<!-- ------------ -->

 <!-- ______________________________________________________ -->
 <strong class="pc container">What other people think about us</strong>
<div class="container cards">
    
   
        <div class="card">
            <div class="user__info">

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="person">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                  </svg>
            <div class="content">
              <strong>John Smith</strong>
              <p style="margin-top: 1rem;">kossher</p>
            </div>
            </div>

            <div class="content">
                I love Lirez because it offers a wide range of courses from top universities and companies. The instructors are very knowledgeable and engaging. The assignments are challenging but rewarding. I have learned so much from Lirez and I highly recommend it to anyone who wants to learn new skills or advance their career.
            </div>
        </div>
    

    <!-- ------------ -->

    
        <div class="card">
            <div class="user__info">

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="person">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                  </svg>
                  
              <strong>Tom Smith</strong>
            </div>

            <div class="content">
                Lirez is a wonderful platform for learning new things for free. I have taken many courses on Lirez and I have always been satisfied with them. The courses are high-quality and relevant. The instructors are experts and inspiring. The certificates are valuable and credible. Lirez is the best gift for learners.
            </div>
        </div>
    

    <!-- ------------ -->


        <div class="card">
            <div class="user__info">

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="person">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                  </svg>
                  
              <strong>Mike Lee</strong>
            </div>

            <div class="content">
                Lirez is a fantastic platform for learning new things for free. I have taken several courses on Lirez and I have always learned a lot from them. The courses are engaging and practical. The quizzes and projects are challenging and meaningful. The support from the instructors and the community is friendly and helpful. Lirez is the best friend for learners.
            </div>
        </div>
    

    <!-- ------------ -->


        <div class="card">
            <div class="user__info">

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="person">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
                  
              <strong>Jane Jones</strong>
            </div>

            <div class="content">
                Lirez is an awesome platform for learning new things for free. I have taken a few courses on Lirez and I have always enjoyed them. The courses are fun and interesting. The videos and readings are up-to-date and informative. The assignments and exams are creative and rewarding. The feedback from the instructors and the peers is constructive and encouraging. Lirez is the best teacher for learners.
            </div>
        </div>


    <!-- ------------ -->
</div>

        
 <!-- ______________________________________________________ -->
{%endblock%}