{% extends 'learning/layout.html' %}
{%block title%}Lirez - Home{%endblock%}
{%block body%}
<div class="container h-card">

    <img src="https://edx-cdn.org/v3/prod/logo.svg" alt="">
       <div class="h-content">
             <strong>Learn any thing you want</strong>
             <br>
             <br>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto fugit, amet doloribus minima nostrum nemo sit necessitatibus delectus quaerat rem totam nulla maiores temporibus? Voluptatem voluptatibus ducimus excepturi at, beatae, maxime libero dolores pariatur totam exercitationem possimus iusto impedit facere ea eveniet quasi provident ad magnam eaque cum. Illum, consequatur?
              <div>
                   <button class="btn">Login</button>
                    <button class="btn">Register</button>
              </div>
         </div>

 </div>
 
 <br>
 <br>
 <br>

 <strong class="pc">Popular Courses</strong>
 <div class="container cards">
    
    <div class="card">
        <img src="https://edx-cdn.org/v3/prod/logo.svg" alt="course">
       
        <div class="content">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nisi molestias mollitia ut corrupti incidunt, nobis eligendi sed minima ratione nam, nulla, necessitatibus maiores nemo id blanditiis dolores eaque omnis.
        </div>
        <a href="" class="header__link a-card">
        
           See More
           <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
               <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
             </svg>
             
             
            
        
       </a>
        <div class="likes">      
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="like" style="width: 20px;" >
            <path d="M7.493 18.75c-.425 0-.82-.236-.975-.632A7.48 7.48 0 016 15.375c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75 2.25 2.25 0 012.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23h-.777zM2.331 10.977a11.969 11.969 0 00-.831 4.398 12 12 0 00.52 3.507c.26.85 1.084 1.368 1.973 1.368H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 01-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227z" />
          </svg>
          <label for="like">85%</label>
        </div>
 

     </div>

   <!-- ------------ -->


   <div class="card">
    <img src="https://edx-cdn.org/v3/prod/logo.svg" alt="course">
   
    <div class="content">
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nisi molestias mollitia ut corrupti incidunt, nobis eligendi sed minima ratione nam, nulla, necessitatibus maiores nemo id blanditiis dolores eaque omnis.
    </div>
    <a href="" class="header__link a-card">
    
       See More
       <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
           <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
         </svg>
         
         
        
    
   </a>
    <div class="likes">      
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="like" style="width: 20px;" >
        <path d="M7.493 18.75c-.425 0-.82-.236-.975-.632A7.48 7.48 0 016 15.375c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75 2.25 2.25 0 012.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23h-.777zM2.331 10.977a11.969 11.969 0 00-.831 4.398 12 12 0 00.52 3.507c.26.85 1.084 1.368 1.973 1.368H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 01-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227z" />
      </svg>
      <label for="like">85%</label>
    </div>


 </div>

<!-- ------------ -->


<div class="card">
<img src="https://edx-cdn.org/v3/prod/logo.svg" alt="course">

<div class="content">
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nisi molestias mollitia ut corrupti incidunt, nobis eligendi sed minima ratione nam, nulla, necessitatibus maiores nemo id blanditiis dolores eaque omnis.
</div>
<a href="" class="header__link a-card">

   See More
   <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
       <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
     </svg>
     
     
    

</a>
<div class="likes">      
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="like" style="width: 20px;" >
    <path d="M7.493 18.75c-.425 0-.82-.236-.975-.632A7.48 7.48 0 016 15.375c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75 2.25 2.25 0 012.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23h-.777zM2.331 10.977a11.969 11.969 0 00-.831 4.398 12 12 0 00.52 3.507c.26.85 1.084 1.368 1.973 1.368H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 01-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227z" />
  </svg>
  <label for="like">85%</label>
</div>


</div>

<!-- ------------ -->


<div class="card">
<img src="https://edx-cdn.org/v3/prod/logo.svg" alt="course">

<div class="content">
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nisi molestias mollitia ut corrupti incidunt, nobis eligendi sed minima ratione nam, nulla, necessitatibus maiores nemo id blanditiis dolores eaque omnis.
</div>
<a href="" class="header__link a-card">

   See More
   <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
       <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
     </svg>
     
     
    

</a>
<div class="likes">      
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="like" style="width: 20px;" >
    <path d="M7.493 18.75c-.425 0-.82-.236-.975-.632A7.48 7.48 0 016 15.375c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75 2.25 2.25 0 012.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23h-.777zM2.331 10.977a11.969 11.969 0 00-.831 4.398 12 12 0 00.52 3.507c.26.85 1.084 1.368 1.973 1.368H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 01-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227z" />
  </svg>
  <label for="like">85%</label>
</div>


</div>

<!-- ------------ -->
 </div>

 <!-- ______________________________________________________ -->
 <strong class="pc container">What other people think about us</strong>
<div class="container cards">
    
   
        <div class="card">
            <div class="user__info">

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="person">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                  </svg>
                  
              <strong>Alireza</strong>
            </div>

            <div class="content">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni ab iusto ipsam alias assumenda provident aperiam aliquam nemo explicabo eaque?
            </div>
        </div>
    

    <!-- ------------ -->

    
        <div class="card">
            <div class="user__info">

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="person">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                  </svg>
                  
              <strong>Alireza</strong>
            </div>

            <div class="content">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni ab iusto ipsam alias assumenda provident aperiam aliquam nemo explicabo eaque?
            </div>
        </div>
    

    <!-- ------------ -->


        <div class="card">
            <div class="user__info">

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="person">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                  </svg>
                  
              <strong>Alireza</strong>
            </div>

            <div class="content">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni ab iusto ipsam alias assumenda provident aperiam aliquam nemo explicabo eaque?
            </div>
        </div>
    

    <!-- ------------ -->


        <div class="card">
            <div class="user__info">

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="person">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                  </svg>
                  
              <strong>Alireza</strong>
            </div>

            <div class="content">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni ab iusto ipsam alias assumenda provident aperiam aliquam nemo explicabo eaque?
            </div>
        </div>


    <!-- ------------ -->
</div>

        
 <!-- ______________________________________________________ -->
{%endblock%}