{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{%block title%}Lirez{%endblock%}</title>
    <link rel="stylesheet" href="{% static 'learning/styles.css' %}">
    <script src="{% static 'learning/main.js' %}"></script>
</head>

<body>

    <header class="header container">
        <nav>
            <ul class="header__menu">
                <li>
                    <a class="header__link" href="{%url 'home'%}">Home</a>
                </li>
                <li>
                    <a class="header__link" href="{%url 'courses'%}">Courses</a>
                </li>
                <li>
                    <a class="header__link" href="{%url 'staff'%}">Staff</a>
                </li>
                <li>
                    <a href="{%url 'create_course'%}" class="header__link">Create Course</a>
                </li>
                <li>
                    <a href="{%url 'dashboard'%}" class="header__link">Dashboard</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}" class="header__link">Log Out</a>
                </li>
                {%else%}
                <li>
                    <a href="{%url 'register'%}" class="header__link">Register</a>
                </li>

                <li>
                    <a class="header__login btn" href="{%url 'login'%}">Login</a>
                </li>
                {%endif%}
            </ul>
        </nav>


    </header>
    <main>
        {%block body%}
        {%endblock%}
    </main>
    <footer class="footer container">

        <!-- Remove the container if you want to extend the Footer to full width. -->
        <div class="container my-5">
            <!-- Footer -->
            <footer>
                <div class="footer">
                    <div class="about">
                        <h3>About Us</h3>
                        <p>We are a company dedicated to providing the best service to our customers.</p>
                    </div>
                    <div class="contact">
                        <h3>Contact Us</h3>
                        <p>Email: info@company.com</p>
                        <p>Phone: 123-456-7890</p>
                    </div>
                    <div class="copyright">
                        <p>© 2023 Company Name. All rights reserved.</p>
                    </div>
                </div>
            </footer>

</body>

</html>