{% extends 'lirez/layout.html' %}

{%block title%}Lirez - Courses{%endblock%}
{%block body%}
<div class="d-cards">
    <div class="d-card">
        <img src="https://edx-cdn.org/v3/prod/logo.svg" alt="">
         <div>
            <strong>course title</strong>
            <br>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, rerum reprehenderit dolor ullam molestiae non.
            </div>
        <a href="" class="btn">Click me!</a>
    </div>



    <div class="d-card">
        <img src="https://edx-cdn.org/v3/prod/logo.svg" alt="">
         <div>
            <strong>course title</strong>
            <br>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, rerum reprehenderit dolor ullam molestiae non.
            </div>
        <a href="" class="btn">Click me!</a>
    </div>



    <div class="d-card">
        <img src="https://edx-cdn.org/v3/prod/logo.svg" alt="">
         <div>
            <strong>course title</strong>
            <br>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, rerum reprehenderit dolor ullam molestiae non.
            </div>
        <a href="" class="btn">Click me!</a>
    </div>



    <div class="d-card">
        <img src="https://edx-cdn.org/v3/prod/logo.svg" alt="">
         <div>
            <strong>course title</strong>
            <br>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, rerum reprehenderit dolor ullam molestiae non.
            </div>
        <a href="" class="btn">Click me!</a>
    </div>
</div>
{%endblock%}
