{% extends 'lirez/layout.html' %}

{%block title%}Lirez - Staff{%endblock%}
{%block body%}
         <div class="container cards">

              <div class="card">
                  <img src="https://edx-cdn.org/v3/prod/logo.svg" alt="course">
           
                  <div class="content">
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nisi molestias mollitia ut corrupti incidunt, nobis eligendi sed minima ratione nam, nulla, necessitatibus maiores nemo id blanditiis dolores eaque omnis.
                 </div>
                 <a href="" class="header__link a-card">
                       See More
                       <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                       </svg>
                 </a>
                </div>

           </div>
{%endblock%}
